<div class="row">
  <div class="col-md-8">
    <app-page-header [name]="'Users'"></app-page-header>
  </div>
  <div class="col-md-4">
    <ng-container [ngTemplateOutlet]="eu"></ng-container>
  </div>
</div>

<div class="table-responsive">

  <p-table #dt [columns]="cols"
    [tableStyleClass]="'table table-striped table-hover w-auto'"
           [value]="users">

    <ng-template pTemplate="caption" #eu>
      <div class="form-group search-input-table">
        <input class="form-control" type="text" pInputText size="50" placeholder="Filter table content" (input)="dt.filterGlobal($event.target.value, 'contains')">
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">{{col.header}}</th>
      </tr>
    </ng-template>
    <ng-template let-hover="false" let-user pTemplate="body">
      <tr (mouseleave)="hover=false" (mouseover)="hover=true">
        <td>{{user?.username}}</td>
        <td>{{user?.name}}</td>
        <td><a href="mailto:{{user?.email}}">{{user?.email}}</a></td>
        <td><a href="#">{{user?.address.city}}</a></td>
        <td>{{user?.rideInGroup?.title}}</td>
        <td>
          <app-field-days [user]="user"></app-field-days>
        </td>
        <td><a href="#">{{user?.posts?.length ? user?.posts?.length -1 : 0}}</a></td>
        <td><a href="#">{{user?.albums?.length ? user?.albums?.length -1 : 0}}</a></td>
        <td>{{calcPhoto(user)}}</td>
        <td>
          <button (click)="delete(user)" *ngIf="hover" class="btn btn-link" type="button">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>
