<form #form=ngForm>
  <div class="row">
    <div class="col-md-6">

      <div class="form-group">
        <label for="username">Username</label>
        <input #username="ngModel"
          (focus)="onFocus('username')"
          [(ngModel)]="user.username"
          [class.input-error]="!username.valid  && (username.dirty || username.touched)"
          [class.input-success]="username.valid && (username.dirty || username.touched)"
          [required]="true"
          class="form-control" id="username" name="username" pInputText type="text">
        <small *ngIf="fieldsFocus.username" class="form-text text-muted" id="usernameHelp">Lorem ipsum dolor sit amet, consectetur.</small>
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel"
          (focus)="onFocus('name')"
          [(ngModel)]="user.name"
          [class.input-error]="!name.valid  && (name.dirty || name.touched)"
          [class.input-success]="name.valid && (name.dirty || name.touched)"
          [required]="true"
          [required]="true"
          class="form-control" id="name" name="name" pInputText type="text">
        <small *ngIf="fieldsFocus.name" class="form-text text-muted" id="nameHelp">Lorem ipsum dolor sit amet, consectetur.</small>
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input #email="ngModel"
          (focus)="onFocus('email')"
          [(ngModel)]="user.email"
          [class.input-error]="!email.valid  && (email.dirty || email.touched)"
          [class.input-success]="email.valid && (email.dirty || email.touched)"
          [required]="true"
          class="form-control" id="email" name="email" pInputText type="text">
        <small *ngIf="fieldsFocus.email" class="form-text text-muted" id="emailHelp">Lorem ipsum dolor sit amet, consectetur.</small>
      </div>

    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="city">City</label>
        <input #city="ngModel"
          (focus)="onFocus('city')"
          [(ngModel)]="user.address.city"
          [class.input-error]="!city.valid  && (city.dirty || city.touched)"
          [class.input-success]="city.valid && (city.dirty || city.touched)"
          [required]="false"
          class="form-control" id="city" name="city" pInputText type="text">
        <small *ngIf="fieldsFocus.city" class="form-text text-muted" id="cityHelp">Lorem ipsum dolor sit amet, consectetur.</small>
      </div>

      <div class="form-group">
        <label for="city">Ride in group?</label>
        <br>
        <div class="form-check-inline">
          <p-radioButton [required]="true" [(ngModel)]="user.rideInGroup.title" inputId="ny" label="Always" name="rideGroup"
                       value="Always"></p-radioButton>
        </div>
        <div class="form-check-inline">
          <p-radioButton [required]="true" [(ngModel)]="user.rideInGroup.title" inputId="sf" label="Sometimes" name="rideGroup"
                       value="Sometimes"></p-radioButton>
        </div>
        <div class="form-check-inline">
          <p-radioButton [required]="true" [(ngModel)]="user.rideInGroup.title" inputId="la" label="Never" name="rideGroup"
                       value="Never"></p-radioButton>
        </div>
      </div>

      <div class="form-group">
        <label for="city">Days of the week</label>
        <br>
        <div class="form-check-inline" *ngFor="let weekDay of weekDays">
          <p-checkbox
            [(ngModel)]="user.daysOfWeek.days"
            (ngModelChange)="setChecked(user, $event)"
            [required]="true"
            inputId="{{weekDay.inputId}}"
            label="{{weekDay.label}}"
            name="{{weekDay.name}}"
            value="{{weekDay.value}}">
          </p-checkbox>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-md-12">
    <button (click)="checkForm(form)"
            [class.disabled]="!form.valid"
            class="btn btn-success mr-2" type="button">Save</button>
    <button (click)="resetForm(form)"
            [class.disabled]="form.untouched || form.pristine"
            class="btn btn-default" type="button">Discard</button>
  </div>
</div>
