$primary-color: #3AC5A9
$secondary-color: #1ABC9C
$secondary-darker-color: #19a786

$primary-text-color: #333333
$secondary-text-color: #525b5a

$border-dark: rgba($secondary-color, 0.88)
$background-container: #BAEBE1

