<div class="table-responsive">

  <p-table [tableStyleClass]="'table table-striped table-hover w-auto'"
           [value]="users"
  >
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">E-mail</th>
        <th scope="col">City</th>
        <th scope="col">Ride in group</th>
        <th scope="col">Day of the week</th>
        <th scope="col">Posts</th>
        <th scope="col">Albums</th>
        <th scope="col">Photos</th>
        <th scope="col">Action</th>
      </tr>
    </ng-template>
    <ng-template let-hover="false" let-user pTemplate="body">
      <tr (mouseleave)="hover=false" (mouseover)="hover=true">
        <td>{{user?.username}}</td>
        <td>{{user?.name}}</td>
        <td>{{user?.email}}</td>
        <td>{{user?.address.city}}</td>
        <td>{{user?.rideInGroup?.title}}</td>
        <td>
          <app-field-days *ngIf="user" [user]="user"></app-field-days>
        </td>
        <td>{{user?.posts.length}}</td>
        <td>{{user?.albums.length}}</td>
        <td>{{calcPhoto(user)}}</td>
        <td>
          <button (click)="delete(user)" *ngIf="hover" class="btn btn-link" type="button">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>


